<mat-toolbar color="primary-dark">  
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>dehaze</mat-icon>
  </button> 
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/executar"><mat-icon>power_settings_new</mat-icon>Executar</button> 
    <button mat-menu-item routerLink="/dashboard"><mat-icon>list</mat-icon>Playlist</button> 
    <button mat-menu-item routerLink="/config"><mat-icon>settings</mat-icon>Configuração</button> 
  </mat-menu>
  <span>&nbsp;&nbsp;{{title}}</span>
  <span class="example-fill-remaining-space"></span>
  <span>Carga:{{dataAtualizacao}}</span>
</mat-toolbar>


<router-outlet></router-outlet>
    
<app-messages></app-messages>
  
